* {
    background-size: cover;
    background-image: url(../img/Fundo.jpg);
}
/* Apenas um coment�rio */
body {
    font-family: Helvetica, sans-serif;
}
p {
    font-family: helvetica, sans-serif
}
figure{
    height: 200px;
    width: 300px;
}
.Logo_site {
    height: auto;
    width: 320px;
}
.Capa_HP_FILME{
text-align: left;
}
.Capa_HP_FILME {
    text-align: left;
    height: 320px;
    width: 200px;
}
.Video_HP_FILME {
    height: 300px;
    width: 600px;
    margin-left: 25%;
    margin-top: 17%;
}
.informacoes_filme{
    position: absolute;
    margin-left: 11%;
}
.informacoes_filme {
    position: absolute;
    margin-left: 16%;
}
#pagina {
    width: 1220px;
    margin: auto;
    padding: 10px 20px;
    overflow: hidden;
}
header nav ul {
    list-style: none;
    padding-left: 0;
}
header nav ul il {
    display: inline-block;
    margin-right: 20px;
}
header nav ul il a {
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.navbar {
    position: absolute;
    margin-left: 35%;
}
.pesquisa {
    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 23%;
    margin-top: 3%;
}
#txtbuscar {
    border-radius: 15px;
}