* {
    background-size: no-repeat;
    background-image: url(../img/Fundo.jpg);
    text-decoration: none;
}
/* Apenas um coment�rio */
body {
    font-family: Helvetica, sans-serif;
}
p {
    font-family: helvetica, sans-serif
}
figure{
    height: 200px;
    width: 300px;
}
.Logo_site {
    height: auto;
    width: 320px;
}
.Capa_FILME {
    text-align: left;
    height: 320px;
    width: 200px;
}
.Video_FILME {
    height: 300px;
    width: 600px;
    margin-left: 25%;
    margin-top: 17%;
}
.informacoes_filme{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 11%;
}
#pagina {
    width: 1220px;
    margin: auto;
    padding: 10px 20px;
    overflow: hidden;
}
header nav ul {
    list-style: none;
    padding-left: 0;
}
header nav ul li {
    display: inline-block;
    margin-right: 20px;
}
header nav ul li a {
    font-size: 23px;
    color: rgb(255, 255, 255);
}
header nav li a:hover {
    background: #1f3c58;
    border-radius: 20px;
    border: 8px solid #1f3c58;
}
.navbar {
    position: absolute;
    margin-left: 37%;
}
.pesquisa {
    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 23%;
    margin-top: 3%;
}
#txtbuscar {
    border-radius: 15px;
}
.inicio-filmes {
    color: rgb(255, 255, 255)
}
.filmes {
    text-align: center;
}
.filmes a img {
    height: 300px;
    width: 210px;
}
.filmes a {
    display: inline-block;
    margin-right: 47px;
    height: 350px;
    width: 230px;
    color: rgb(255, 255, 255);
}
.filmes a img:hover {
    opacity: 0.6;
}
.menu-footer {
    text-align: center;
    margin-right: 55px;
}
.menu-footer ul li {
    margin-right: 20px;
}
.menu-footer li a:hover {
    background: #1f3c58;
    border-radius: 20px;
    border: 6px solid #1f3c58;
}
footer ul li {
    font-size: 18px;
    display: inline-block;
}
.footer ul li a {
    color: rgb(255, 255, 255);
}
.social-midias {
    margin-left: 81%;
}
.social-midias a img {
    width: 30px;
    height: 20px;
    margin-right: 1%;
}