* {   
    text-decoration: none;
    color: white;
}
/* Apenas um coment�rio */
body {
    font-family: Helvetica, sans-serif;
    background-image: url(../img/Fundo.jpg);
    background-size: no-repeat;
}
p {
    font-family: helvetica, sans-serif
}
figure{
    height: 200px;
    width: 300px;
}
.compra-filme{

    margin-top: 09px;
    text-align: center;
}
.Logo_site {
    height: auto;
    width: 320px;
}
.Capa_FILME {
    text-align: left;
    height: 320px;
    width: 200px;
}
.Video_FILME {
    height: 300px;
    width: 600px;
    margin-left: 25%;
    margin-top: 17%;
}
.informacoes_filme{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 17%;
    
    
}
.inf-perfil{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 17%;
    margin-bottom: 15px;
    font-size: 20px;

}
#data {
    color: black;
}
.ftcartao{
    width: 350px; 
    margin-left: 290%;
    position: absolute;

}
.btn_compra{
    font-family: Arial;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 17px;
    cursor: pointer;
    background: black; 
    border: 1px solid white;
    background-color: black;
}
.btn-local{
    margin-bottom: 50px;
}
.btn-verde{
    font-family: Arial;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 17px;
    cursor: pointer;
    background: black; 
    border: 2px solid rgb(141, 236, 133);
    background-color: black;

}
.btn-vermelho{
    font-family: Arial;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 17px;
    cursor: pointer;
    background: black; 
    border: 2px solid rgb(240, 110, 110);
    background-color: black;

}
.perfil{
    border-radius: 120px;
    border: 3px solid  rgb(71, 98, 138);
    max-width: 190px; 
    max-height: 240px;
    margin-top: 4%;
}
.infnome-perfil{
    margin-top: 6%;
    margin-left: 4.5%;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
table {
    width: 45%;
    text-align: center;
    border: 3px solid rgb(159, 167, 179);
}
#t01 tr:nth-child(even) {
    background-color: #fff;
}
  #t01 th {
    background-color: rgb(71, 98, 138);
    color: white;
  }
#pagina {
    width: 1220px;
    margin: auto;
    padding: 10px 20px;
    overflow: hidden;
}
header nav ul {
    list-style: none;
    padding-left: 0;
}
header nav ul li {
    display: inline-block;
    margin-right: 20px;
}
header nav ul li a {
    font-size: 23px;
    color: rgb(255, 255, 255);
}
header nav li a:hover {
    background: #1f3c58;
    border-radius: 20px;
    border: 8px solid #1f3c58;
}
.navbar {
    position: absolute;
    margin-left: 37%;
}
.pesquisa {
    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 23%;
    margin-top: 3%;
}
.bnt_buscar:hover{
    opacity: 0.6;
}
.bnt_buscar{
    cursor: pointer;
    background: rgb(255, 255, 255); 
    border: 1px solid  Grey;
    background-color: black;
    border-radius: 10.5px;
    padding: 1.9px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
#txtbuscar {
    border-radius: 15px !important;
}
.inicio-filmes {
    color: rgb(255, 255, 255)
}
.filmes {
    text-align: center;
}
.filmes a img {
    height: 300px;
    width: 210px;
}
.filmes a {
    display: inline-block;
    margin-right: 47px;
    height: 350px;
    width: 230px;
    color: rgb(255, 255, 255);
}
.filmes a img:hover {
    opacity: 0.6;
}
.menu-footer {
    text-align: center;
    margin-top: 7%;
    margin-right: 55px;
}
.menu-footer ul li {
    margin-right: 20px;
}
.menu-footer li a:hover {
    background: #1f3c58;
    border-radius: 20px;
    border: 6px solid #1f3c58;
}
footer ul li {
    font-size: 18px;
    display: inline-block;
}
.footer ul li a {
    color: rgb(255, 255, 255);
}
.social-midias {
    text-align: center;
}
.social-midias a img {
    width: 30px;
    height: 25px;
    margin-right: 1%;
}
#matricula p {
    display: inline-block;
    margin-right: 25px;
}
#matricula {
    text-align: center;
}

/* Area de Login */
.login {
    display: inline-block;
    position: relative;
    margin-top: 10%;
    margin-left: 38%;
    border: solid #304a4e 3px;
    width: 400px;
    height: 500px;
    filter: opacity(70%);
    
}

.login input {
    font-size: 20px;
}
.login:hover {
    filter: opacity(100%);
}
.inputFormLogin {
    margin-left: 22% !important;
    margin-top: 5%;

}


.login form .Logo_site {
    margin-top: 10%;
    margin-left: 12.39%;

}
.login p a {
    color:red;
    
    
}
.login p a:hover {
    text-decoration: inherit;
}
.login p {
    margin-top: 15%;
    margin-left: 12% ;
}
#continuarConectado {
    margin-left: 10%;
}

.login h1 {
    text-align: center;
    margin-top: 10%;
}
.entrarButton {
    background-color: grey;
    transition-duration: 0.3s; 
}
.entrarButton:hover{
    background-color: #4CAF50;
    color: white;
}
.lembrarButton {
    margin-top: 50%;
    color: white;
}
/* Area de Cadastro */
.inputForm {
    margin-left: 22% ;
    margin-top: 5%;

}
.formContentCadastro {
    display: inline-block;
    position: relative;
    margin-top: 10%;
    margin-left: 33%;
    border: solid #304a4e 3px;
    width: 600px;
    height: 700px;
    filter: opacity(70%);
    
}
.formContentCadastro form {
    text-align: center;
} 

.formContentCadastro input {
    font-size: 20px;
    margin-top:3.5%;
}
.formContentCadastro:hover {
    filter: opacity(100%);
}

.formContentCadastro form .Logo_site {
    margin-top: 10%;
    

}
.formContentCadastro p a {
    color:red;
    
    
}
.formContentCadastro p a:hover {
    text-decoration: inherit;
}
.formContentCadastro p {
    margin-top: 15%;
    text-align: center;
    /* margin-left: 20% ; */
}
#continuarConectado {
    margin-left: 10%;
}

.formContentCadastro h1 {
    text-align: center;
    margin-top: 10%;
}
.formContentCadastro input[type="button"]{
    margin-top: 10% ;
    margin-left: 30%;
    width: 160px;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}

.formContentCadastro input[type="date"] { /* Formatação do input localmente*/
    background-color: white;
    color: black;
    width: 41%;
    border-radius: 5px;
    margin-left: 0%;

}
.formContentCadastro input[type="email"], input[type="password"], input[type="text"] {
    margin-left: 0%;
}
.cadastrarButton {
    background-color: grey;
    transition-duration: 0.3s; 
    margin-right: 30% !important;
    margin-top: 4%;
    margin-left: 30%;
}
.cadastrarButton:hover{
    background-color: #4CAF50;
    color: white;
}


/* Formatação dos inputs globalmente*/
input[type="email"], input[type="password"], input[type="text"] {

    border: 2px solid grey;
    border-radius: 4px;
    background-color: black ;
    color: white;
    
  
  }

input[type="button"]{
    margin-top: 10% ;
    margin-left: 20%;
    width: 160px;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}


